<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Masak Masak</title>
</head>
<body>
<form method="post" action="/recipes">
    <p> <input name="title" placeholder="Judul Resep"></p>
    <p><textarea name="description" placeholder="Deskripsi Resep" ></textarea></p>
    <p> <input name="completed" type="checkbox">Sudah Dibuat</p>
    <p> <button type="submit">Tambahkan resep</button></p>
</form>
{{requiredtitle}}
</body>
</html>