<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<form id="form-login" method="post" action="/users/login">
    <input type="email" id="email-login" name="email">email
    <input type="password" id="password-login" name="password">password
    <button id="login-button" type="submit"> send </button>
</form>
{{message}}
</body>
<!--<script src="/js/login.js"></script>-->
</html>