<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignUp</title>
</head>
<body>
<form id="form-signup" method="post" action="/users/signup">
    <input type="text" id="email-login" name="name">name
    <input type="email" id="email-login" name="email">email
    <input type="password" id="password-login" name="password">password
    <input type="number" id="phone-number" name="phoneNumber">Phone Number
    <button id="login-button" type="submit"> send </button>
</form>
</body>
<!--<script src="/js/login.js"></script>-->
</html>